{% extends 'base.html' %}
{% from 'form_errors.html' import form_field_errors %}
{% block title %}{{ super() }}-Register{% endblock %}

{% block layout %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="login-header">
                    <h2 class="text-center">Reset Password</h2>
                </div>

                <form class="login-form box-wrap" method="POST"
                      action="{{ url_for('user.forgot_password') }}">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="id-email">email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-link">Send an email</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
{% endblock %}