{% extends 'base.html' %}

{% block title %}
Create account page
{% endblock %}

{% block header %}
<!-- Link to my custom CSS file -->
<link rel="stylesheet" href="/static/style_2.css">
{% endblock %}

{% block layout %}
<img src="/static/Picture1.png" alt="left_decoration">
<div id="cloud"></div>
<div id="central_from" class="col-md-6 offset-md-3">
    <div id="register">
        <h1>Create New Account</h1>
        <a href="{{ url_for('user.login') }}">Already Registered? Login </a> <br> <br> 
        <form id="signup" class="login-form box-wrap" method="POST" enctype="multipart/form-data"
              action="{{ url_for('user.register') }}">
              {{ form.csrf_token }}
              <div class="form-group">
                <label for="id-user-avatar">Avatar</label>
                {{ form.avatar (class="form-control", id="avatar")  }}

                {% if form.avatar.errors %}
                {{ form.avatar.errors[0](class="form-control") }}
                {% endif %}
            </div>
          <div >
            <label>Username</label> <br>
            {{ form.username(class="form-control", id="username") }}

            <label>Email</label> 
            {{ form.email(class="form-control", id="email") }}               

            <label> Password </label> <br>
            {{ form.password(class="form-control", id="password")}}

            <label> Confirm Password</label> <br>
            {{ form.confirm_password(class="form-control", id="confirm_password") }}
            <br> <br> 
            <button type="submit" id="signupbutton" class="btn btn-block">
            Sign up
            </button>
          </div>
        </form>
      </div>
</div>
<img src="/static/Picture2.png" alt="right_decoration" style="float: right;">


{% endblock %}
