<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>

<div class="container my-4">
    {% if current_user.is_authenticated %}
        <div class="alert alert-success" role="alert">
            Welcome back, {{ current_user.nickname }}
        </div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="d-flex justify-content-between my-2">

        {% if current_user.is_anonymous %}
            <a href="/user/login" class="btn btn-primary">Login</a>

            <a href="/user/register" class="btn btn-primary">Register</a>
        {% endif %}




        <a href="/post" class="btn btn-success">Post a quest</a>

        {% if current_user.is_authenticated %}
            <a href="/user/{{ current_user.id }}/mine" class="btn btn-success">Mine</a>

            <a href="/user/logout" class="btn btn-danger">Logout</a>

        {% endif %}

    </div>

    <h3 class="my-3">Task(Task) List</h3>


    <div class="qa-ls">
        {% for task in page_data.items %}
            <div class="qa-item">
                <a href="{{ url_for('task.detail', t_id=task.id) }}" class="title">{{ task.title }}</a>
                <div class="desc">
                    {% if task.img %}
                        <div class="left">
                            <img src="{{ url_for('static', filename='uploads/' + task.img) }}"
                                 class="img-fluid mb-3 shadow-sm"
                                 style="height: 100px; width: auto;" alt="">

                        </div>
                    {% endif %}
                    <div class="right">

                        <div class="show-desc">{{ task.content|safe|truncate(40) }}
                            <span class="more btn-link">Read more</span>
                        </div>
                        <div class="show-all hidden ">
                            {{ task.content|safe }}
                            <span class="more btn-link">Collapse</span>
                        </div>

                    </div>
                </div>

            </div>
        {% endfor %}
    </div>


    <div class="d-flex justify-content-between mt-4">
        <a href="{{ url_for('task.index_page', page=page_data.page-1 if page_data.has_prev else page_data.page) }}"
           class="btn btn-info" {% if not page_data.has_prev %}disabled{% endif %}>Previous</a>
        <a href="{{ url_for('task.index_page', page=page_data.page+1 if page_data.has_next else page_data.page) }}"
           class="btn btn-info" {% if not page_data.has_next %}disabled{% endif %}>Next</a>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $('.show-desc').click(function () {
        $(this).addClass('hidden');
        $(this).next().removeClass('hidden')
    })

    $('.show-all').click(function () {
        $(this).addClass('hidden');
        $(this).prev().removeClass('hidden')
    })
</script>

</body>
</html>