{% extends 'base.html' %}
{% from 'form_errors.html' import form_field_errors %}
{% block title %}Login{% endblock %}

{% block layout %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <img src="Picture 1.png" alt="left_decoration" style="float:right;">
      <div id="cloud"></div>    
      <div id="central_from">
        <div id="login">
          <h1> Login</h1>
          <a href="{{ url_for('user.register') }}">Sign up to Continue</a> <br> <br>
          <div>
            {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
          </div> 
          <form class="login-form box-wrap" method="POST" action="{{ url_for('user.login') }}">
            {{ form.csrf_token }}
            
            <div class="form-group">
              <label for="username">Please enter your Name or Email</label> <br>
              {{ form.username(class="form-control", id="username", name="username") }}
            </div>

            <div class="form-group">
              <label for="password">Please enter Password</label> 
              {{ form.password(class="form-control", id="password", name="password") }} 
              <br> <br>
              <div>
                <a href="{{ url_for('user.forgot_password') }}">Forgot Password</a>
              </div>
              <br> <br>
              <button type="submit" id="loginbutton" class="btn btn-link">
                Log in
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>   
<img src="Picture 2.png" alt="right_decoration" style="float:right;">

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- partial -->
<script  src="script.js"></script>
{% endblock %}
