@import "compass/css3";

body, html {
    background-image: linear-gradient(to right, #fff7ad, #ffa9f9);
    height:100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
h1{
    font-size: 50px;
    color: #715CF8;
}
a{
    font-size: 12px;
    color: #715CF8;   
    text-decoration: none;
}
img{
    width: 220px;
  }
  
input{
    border: 1px solid black;
    border-radius: 25px;
    height: 35px;
    width: 300px;
   
}
#central_from{
    text-align: center;
}
#signupbutton{
    border-color:#9584FF;
    background-color: #715CF8;
    font-size: larger;
    border-radius: 25px;
    width: 150px;
    color: white;
    border: 1px solid black;
}
#signup label {
    font-size:  10px;;
}

#cloud{
    animation: move 6s ease infinite;
    border-radius: 50px;
    position: absolute;
    top: 25%; left: 43%;
    background-color:#715CF8 ;
    height: 60px; width: 60px;
    box-shadow:
    #715CF8 65px -15px 0 -5px, 
    #715CF8 25px -25px, 
    #715CF8 30px 10px, 
    #715CF8 60px 15px 0 -10px, 
    #715CF8 85px 5px 0 -5px;
  }

@keyframes move{
  50% { transform: translateY(-15px); }
}