{% extends 'base.html' %}

{% block layout %}
    <div>
        {% if current_user.is_authenticated %}
            <div>Welcome back, {{ current_user.nickname }}</div>
        {% endif %}

    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <a href="user/register">Register</a>
    <a href="user/login">Login</a>
    <a href="user/logout">Logout</a>
    <a href="/post">post</a>

    <div>


    </div>

{% endblock %}



{% block js_get_list %}

{% endblock %}