@import "compass/css3";

.container {
  position: relative;
  margin-top: 200px;
  z-index: 1;
}

img {
  width: 200px;
}

#img2 {
  float: right;
}

#background-video {
  position: absolute;
  left: 50%;  
  transform: translateX(-50%);  
  width: 80%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
}

#login {
  width: 300px;
  position: relative; 
  z-index: 1; 
  padding: 20px; 
  background: rgba(255, 255, 255, 0.8); 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}



#forget {
  width: 300px;
  position: relative; 
  z-index: 1; 
  padding: 20px; 
  background: rgba(255, 255, 255, 0.8); 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
#register {
  width: 500px;
  position: relative; 
  z-index: 1; 
  padding: 20px; 
  background: rgba(255, 255, 255, 0.8); 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


#cloud1, #cloud2 {
  animation: move 6s ease infinite;
  border-radius: 50px;
  position: absolute;
  background-color: white;
  height: 60px;
  width: 60px;
  box-shadow: 
    white 65px -15px 0 -5px, 
    white 25px -25px, 
    white 30px 10px, 
    white 60px 15px 0 -10px, 
    white 85px 5px 0 -5px;
}

#cloud1 {
  top: 200px;
  left: 30%;
  animation-duration: 8s; /* 设置不同的动画时长 */
}

#cloud2 {
  top: 250px;
  left: 70%;
  animation-duration: 10s; /* 设置不同的动画时长 */
}


@keyframes move {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -25px);
  }
}
