@import "compass/css3";


.container {
    position: relative;
    margin-top: 200px;
    z-index: 1;
  }
img{
    width: 200px;
  }
#img2{
    float:right;
}
  
input{
    border: 1px solid black;
    border-radius: 25px;
    height: 35px;
    width: 300px;
   
}
#central_from{
    text-align: center;
}

#signup label {
    font-size:  12px;
}

#cloud {
    animation: move 6s ease infinite;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0088ff;
    height: 60px;
    width: 60px;
    box-shadow: 
      #0088ff 65px -15px 0 -5px, 
      #0088ff 25px -25px, 
      #0088ff 30px 10px, 
      #0088ff 60px 15px 0 -10px, 
      #0088ff 85px 5px 0 -5px;
  }

@keyframes move{
  50% { transform: translateY(-15px); }
}