@import "compass/css3";



#img2{
  float:right;
}


#central_from {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 2;  /* 可根据需要调整透明度 */
}

#login {
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);  /* 半透明背景，提升可读性 */
}


#loginbutton,#sendbutton{
    border-color:white;
    background-color: #715CF8;
    font-size: larger;
    border-radius: 25px;
    width: 150px;
    color: white;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}
#login label,#send label {
    font-size:  12px;;
}
#cloud{
  animation: move 6s ease infinite;
  border-radius: 50px;
  position: absolute;
  top: 100px;
  left: 44%;
  background-color:#715CF8 ;
  height: 60px; width: 60px;
  box-shadow:
  #715CF8 65px -15px 0 -5px, 
  #715CF8 25px -25px, 
  #715CF8 30px 10px, 
  #715CF8 60px 15px 0 -10px, 
  #715CF8 85px 5px 0 -5px;
}

@keyframes move{
  50% { transform: translateY(-15px); } 
}