<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>500 Error</title>
<link rel="stylesheet" href="/static/500error.css"> 
</head>
<body>
    <div id="svg-container">
        <img src="/static/500 error.gif" alt="SVG Animation">
      </div>
        <svg xmlns="" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
          <rect width="100" height="100" fill="#ffffff"/>
          <text x="50%" y="50%" text-anchor="middle" fill="#000000" font-size="16px">SVG Animation Here</text>
        </svg>
      </div>
</div>
</body>
</html>
<h5 class="card-title"><a href="{{ url_for('task.detail', t_id=task.id) }}">{{ task.title }}</a>

  <h5 class="modal-title" id="answerModalLabel">{{ task.title }}</h5>
  <p id="taskTitle">{{ task.title }}</p>

  <div class="task-detail" style="display: block;">
    <p>{{ task.content|safe }}</p> 
</div>

div class="normal">
                                            <p class="card-text">{{ task.content|safe|truncate(200) }}</p>
                                            <button class="btn btn-primary show-desc">Read More</button>
                                        </div>
                                        <div class="additional hidden">
                                            <p class="card-text">{{ task.content|safe }}</p>
                                            <button class="btn btn-secondary hide-desc">Collapse</button>
                                        </div>




                                        <div class="modal-body">
                                          <div id="taskDetails">
                          
                                              <p id="taskDetail"></p>
                          
                                          
                          
                          
                                              {% if task.img %}
                                              <img id="taskPhoto" 
                                              src="{{ task.get_img_url }}" 
                                              alt="task photo" 
                                              srcset="{{ task.get_img_url }} 1x, {{ task.get_img_url_hd }} 2x, {{ task.get_img_url_full_hd }} 3x">
                                              {% endif %}
                          
                                          </div>





                        {% for task in page_data.items %}
                        <div class="card mb-3">
                            <div class="row g-0">
                                {% if task.img %}
                                    <div class="col-md-4">
                                        <img src="{{ url_for('static', filename='uploads/' + task.img) }}"
                                             class="img-fluid rounded-start" alt="Task Image">
                                    </div>
                                {% endif %}
                                <div class="col-md-8">
                                    <div class="card-body">
                                      
                            
                
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}