{% extends "base.html" %}

{% block title %}Study Perth Assistant{% endblock %}

{% block content %}
    <!-- ************************ Sidebar ************************ -->
    <aside id="mySidebar" class="sidebar">
        <button class="menu-btn" onclick="toggleSidebar()"><i class="fa-regular fa-list-ul"></i></button>
        <div class="user-info d-none d-md-block">
            <img src="images/user-avatar.jpg" alt="User Avatar">
            <h4 class="menu-text mt-3">Jack Qin</h4>
            <p class="menu-text">johndoe@example.com</p>
        </div>
        <ul class="menu-items">
            <li>
                <a href="#"><i class="fas fa-user"></i><span class="menu-text">User Information</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-calendar-check"></i><span class="menu-text">Answered Questions</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-question-circle"></i><span class="menu-text">Posted Questions</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-history"></i><span class="menu-text">Active History</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-sign-out-alt"></i><span class="menu-text">Logout</span></a>
            </li>
            <li>
                <a href="update-avatar.html"><i class="fas fa-camera"></i><span class="menu-text">Update Avatar</span></a>
            </li>
        </ul>
    </aside>

    <!-- Main Content -->
    <main id="main">
        <section class="mt-5 pt-3">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="row">
                        <!-- Content here -->
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById("mySidebar");
            const main = document.getElementById("main");

            sidebar.classList.toggle("collapsed");
            main.classList.toggle("collapsed");
        }
    </script>
{% endblock %}
