{% extends 'base.html' %}

{% block title %}
Login - Study Perth Assistant
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_1.css') }}">
{% endblock %}

{% block maincontent %}
<main class="mt-5 pt-1">
    <div class="container">
        <div id="cloud"></div>
        
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="text-center">
              <div id="central_from">
                <video autoplay muted loop id="background-video">
                    <source src="{{ url_for('static', filename='image/background1.mp4') }}" type="video/mp4">
                </video>
      
                <div id="login">
                  <h1 class="text-center">Login</h1>
                  <p class="text-center"> <a href="{{ url_for('user.register') }}">Sign up to Continue</a> </p>
                  <div>
                    {% for error in form.username.errors %}
                      <p class="text-center text-danger">[{{ error }}]</p>
                    {% endfor %}
                  </div>
                  <form class="login-form" method="POST" action="{{ url_for('user.login') }}">
                    {{ form.csrf_token }}
                    
                    <div class="mb-3">
                      <label for="username" class="form-label">Username</label>
                      {{ form.username(class="form-control", id="username") }}
                    </div>
                    
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      {{ form.password(class="form-control", id="password") }}
                      <div class="text-center">
                        <a href="{{ url_for('user.forget_password') }}">Forgot Password</a>
                      </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-block" id="loginbutton">
                      Log in
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="/static/image/cloud_down.png" alt="right_decoration" id="img2">
      
</main>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
