{% extends "base_profile.html" %}

{% block title %}Forgot Password Page{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_1.css') }}">
{% endblock %}

  {% block maincontent %}
<main class="mt-5 pt-1">
  <div id="cloud1"></div>
  <div id="cloud2"></div>
    <div class="container">
        <div class="row justify-content-center" >
            <video autoplay muted loop id="background-video">
                <source src="{{ url_for('static', filename='image/background2.mp4') }}" type="video/mp4">
            </video>
            <div class="col-md-6" id="forget">
                
                <h1 class="text-center">Forgot Password</h1>
                <form id="forget_password" method="POST" action="{{ url_for('user.forget_password') }}">
                  <div>
                    <label>Please enter Email</label> <br>
                    {{ form.email(class="form-control") }}
                    {% if form.email.errors %}
                      <div class="text-danger">
                        {% for error in form.email.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    <br> <br>
                    <button type="submit" id="sendbutton" class="btn btn-primary">
                      SEND
                    </button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    
</main>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
