{% extends "base_profile.html" %}

{% block title %}Posted Questions - Study Perth Assistant{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posted-questions.css') }}" type="text/css">
{% endblock %}

{% block content %}
<main id="main" class="mt-5 pt-3">
    <section class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2 class="text-center">Posted Questions</h2>
                    <div class="list-group">
                        {% for question in questions %}
                            <a href="{{ url_for('question.detail', q_id=question.id) }}" class="list-group-item list-group-item-action">
                                <h5 class="mb-1">{{ question.title }}</h5>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
