{% extends "base_profile.html" %}

{% block title %}Update Avatar - Study Perth Assistant{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/update_avatar.css') }}" type="text/css">
{% endblock %}

{% block content %}
<main id="main" class="mt-5 pt-3">
    <section class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 class="text-center">Update Avatar</h2>
                    <form method="POST" action="{{ url_for('user.update_avatar', id=user.id) }}" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="mb-3 text-center">
                            <img src="{{ url_for('static', filename='uploads/' ~ user.avatar) }}" alt="User Avatar" class="rounded-circle img-thumbnail" width="150">
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <div class="col-sm-9">
                                {{ form.avatar(class="form-control") }}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-9">
                                {{ form.submit(class="avatar-btn btn btn-primary btn-block") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
